node_modules
_pub

*.code-workspace

_src/images/day1_01soba_photo/*
_src/images/day1_02kinoko_photo/*
_src/images/day1_other_photo/*

_src/images/day2_01soba_photo/*
_src/images/day2_02kinoko_photo/*
_src/images/day2_other_photo/*

_src/images/day3_01soba_photo/*
_src/images/day3_02kinoko_photo/*
_src/images/day3_other_photo/*

_src/images/both_photo/*
_src/images/photographer_photo/*


_src/images/day1_other_thumb/*