<div class="wrapper02">

  <nav class="date">
    <div class="date__item -top"><a href="./"><img src="images/heading_day1.svg" alt="9.23FRI. DAY1"></a></div>
    <div class="date__item -day2"><a href="day2.html"><img src="images/heading_day2.svg" alt="9.24SAT. DAY2"></a></div>
    <div class="date__item -day3"><a href="day3.html"><img src="images/heading_day3.svg" alt="9.25SUN. DAY3"></a></div>
  </nav>

  <div class="photographer-list">
    <h2 class="photographer-list__heading">
      <svg viewBox="0 0 402.096 19.198" role="img" aria-label="フォトグラファー">
        <use xlink:href="images/heading_photographers.svg#heading_photographers"></use>
      </svg>
    </h2>
    <ul class="photographer-list__container">
      <%_ for(var n in dataArtist) { _%>
        <%_ if(dataArtist[n].stage == "photographer") { _%>
        <li class="photographer-list__item"><h3><a class="btn-artist btn-other" href="artist/photographer<%- dataArtist[n].order %>.html"><%- dataArtist[n].name %></a></h3></li>
        <%_ } _%>
      <%_ } _%>

      <%#
      <li class="photographer-list__item"><h3><a href="#">折井康弘</a></h3></li>
      <li class="photographer-list__item"><h3><a href="#">みやちとーる（ステキ工房）</a></h3></li>
      <li class="photographer-list__item"><h3><a href="#">平林岳志（grasshopper）</a></h3></li>
      <li class="photographer-list__item"><h3><a href="#">katsunori abe</a></h3></li>
      <li class="photographer-list__item"><h3><a href="#">渡邉和弘</a></h3></li>
      <li class="photographer-list__item"><h3><a href="#">古厩志帆</a></h3></li>
      <li class="photographer-list__item"><h3><a href="#">清水隆裕（HARVEST TIME）</a></h3></li>
      <li class="photographer-list__item"><h3><a href="#">河谷俊輔</a></h3></li>
      %>
    </ul>
  </div>

</div>


<footer class="footer">
  <div class="footer__column">
    <div class="footer__item">
      <div class="footer__link">
        <div class="footer__link-item"><a href="/" target="_blank"><svg class="footer__logo" viewBox="0 0 147.79 28.482" role="img" aria-label="りんご音楽祭"><use xlink:href="images/logo.svg#logo"></use></svg></a></div>
        <div class="footer__link-item"><a href="/photo/history/" target="_blank">HISTORY</a></div>
        <div class="footer__link-item"><a href="/" target="_blank">RINGO FES.</a></div>
      </div>
    </div>
    <div class="footer__item">
      <div class="sns">
        <div class="sns__item"><a href="https://www.facebook.com/ringofes" target="_blank"><span class="fab fa-fw fa-facebook" aria-label="Facebook"></span></a></div>
        <div class="sns__item"><a href="https://twitter.com/ringofes" target="_blank"><span class="fab fa-fw fa-twitter" aria-label="Twitter"></span></a></div>
        <div class="sns__item"><a href="https://www.instagram.com/ringofes/" target="_blank"><span class="fab fa-fw fa-instagram" aria-label="Instagram"></span></a></div>
        <div class="sns__item"><a href="https://www.youtube.com/channel/UCcWXEBkD_DSJlbxTkdSw66g" target="_blank"><span class="fab fa-fw fa-youtube" aria-label="YouTube"></span></a></div>
        <div class="sns__item"><a href="https://line.me/ti/p/%40acm8690m" target="_blank"><span class="fab fa-fw fa-line" aria-label="Line"></span></a></div>
      </div>
    </div>
  </div>

  <p class="footer__term">当サイト内の写真を無断転載することは著作権侵害にあたるため禁止します。<br>当サイトの写真はりんご音楽祭の記録として撮影されていますが、写真に写ったことで不快に思われた方がいましたら、お手数ですが<a href="https://ringofes.info/contact/" target="_blank">りんご音楽祭主催者までご連絡下さい。</a>速やかに削除させて頂きます。</p>
  <small class="footer__copyright copyrights">©RINGO FES.</small>
</footer>


<div class="bg"><img src="images/bg.svg" alt=""></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.3/jquery.colorbox-min.js"></script>
<script src="js/default.js"></script>
<% if(meta.page == "other") { %>
<script src="js/other.js"></script>
<% } %>

</body>
</html>