<%
  let localmeta = {
    page: "",
    current: "day3",
    title: ""
  }
%>
<%# include ./_functions %>
<%- include("./_header",{meta: localmeta}) %>

<div class="wrapper">




</div><!-- /.wrapper -->


<%- include("./_footer",{meta: localmeta}) %>
